.container{
    font-family: 'Open Sans', sans-serif; 
}
.like{
    cursor: pointer;
    margin-left: 10px;
}
.height{
    height: 30px;
}
.home{
    border: 1px solid #eee;
    box-shadow: 0 3px 4px rgb(114, 109, 109);
    border-radius: 4px;
    margin-top: 0px;
}
.addImage{
    float: left;
   margin-left: 110px;
}
#addPhoto{
    float: left;
}

.rounded-image {
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px
}

.name {
    font-weight: 100
}
.status small {
    margin-right: 10px;
    color: blue
}
.sidebar{
    background-color: #a0a5a1;
}
.sidebar li{
    display: block;
    cursor: pointer;
    margin-top: 10px;
}
.sidebar li:hover{
    border-radius: 3px;
    border: gray;
    background-color:honeydew ;
}
.rightsidebar{
    float: left;
}
.box{
    border: 1px solid #eee;
    box-shadow: 0 3px 4px rgb(114, 109, 109);
    border-radius: 5px;
}

