.SignIn {margin: auto;
    width: 40%;  
    margin-top: 9%;
    padding: 10px; text-align: center;
   
    border: 1px solid #eee;
    box-shadow: 0 3px 4px rgb(114, 109, 109);
    text-align: center;
    background:linear-gradient(315deg, #5D4954 0%, #FFA69E 74%); 

}
.SignIn a{
    color: black;
    text-decoration: none;
}