.SignUp {margin: auto;
    width: 40%;  
    margin-top: 5%;
    padding: 10px; text-align: center;
    /* background-image: url("C:\xamppp\htdocs\React\#imp\movie-review\src\assets\login.jpg"); */
    background:linear-gradient(315deg, #5D4954 0%, #FFA69E 74%); ;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}
.SignUp button{
    color: black;
}