.SignUp {margin: auto;
    width: 40%;  
    margin-top: 5%;
    padding: 10px; text-align: center;
    background-image: url("C:\xamppp\htdocs\React\#imp\movie-review\src\assets\login.jpg");
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}