.SignUp {margin: auto;
    width: 30%;  
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    background:linear-gradient(315deg, #5D4954 0%, #FFA69E 74%); ;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    border-radius: 20px;
}
.SignUp button{
    color: black;
}